body {
  font-size: 16px;
  color: #000;
	font-family: Arial, Helvetica, sans-serif;
}


/* HEADER */
#header-nav {
  background-color: #80DEEA;
  border-radius: 0;
  border: 0;
  margin-bottom: 0px;
}

.navbar-brand h1 { /* Company name */
  font-size: 1.5em;
  margin: 0;
  line-height: .75;
  color: #D81B60;
  font-weight: bolder;
}

.navbar-header .navbar-toggle,
.navbar-header .navbar-toggle .icon-bar {
  border: 1px solid #D81B60;
}

#nav-list {
  margin-top: 0;
  margin-bottom: 0;
}
#nav-list a {
  color: #7b1fa2;
  text-align: center;
}
#nav-list a:hover {
  background-color: #f48fb1;
}
#nav-list hr {
  margin: 0;
}
/* END HEADER */


/* MAIN CONTENT */
#main-content h2 {
  margin-bottom: 30px;
}
#main-content .row > div {
  margin-bottom: 20px;
}
.main-tile {
  background-color: #f8bbd0;
  border-radius: 10px;
  border: 2px solid #ec407a;
  padding: 0 15px 10px;
  position: relative;
}
.main-tile a {
  position: absolute;
  bottom: 10px;
  right: 15px; 
}
.main-tile p:nth-last-child(2) {
  margin-bottom: 30px;
}
/* END MAIN CONTENT */



/**************** Medium & large devices only **********************/
/* Para que en esas vistas las columnas sean de la misma altura */
@media (min-width: 992px) {
  #main-content .row {
    display: flex;
  }
  .main-tile {
    height: 100%;
  }  
}